@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background-color: #C8102E;
  font-family: "Helvetica", sans-serif;
}

.welcome {
  background-color: rgba(134, 15, 33, 0.5); /* Red with 50% transparency */
  background-image: url(../assets/marino-filter.jpg);
  background-size: cover; /* Cover the entire page */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed;
}

.font-style {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


.text-red-with-border {
  text-shadow: -1px -1px 0, 1px -1px 0, -1px 1px 0, 1px 1px 0;
}

.rounded-box-left {
  border-radius: 10px;
  padding: 3px;
  margin: 10px;
  text-align: center;
  position: absolute;
  top: 475px;
  left: 50%;
  transform: translateX(-105%);
  max-height: 40vh;
}

.rounded-box-right {
  border-radius: 10px;
  padding: 3px;
  margin: 10px;
  text-align: center;
  position: absolute;
  top: 475px;
  left: 50%;
  transform: translateX(0%);
  max-height: 40vh;
}

.text-box {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  padding: 30px;
  max-width: 650px;
  color: white;
  border: 1px solid white;
  margin-top: 150px;
}

.text-box-font-style {
  font-weight: 600;
  line-height: 1.6;
}

.centered-right-align {
  text-align: right;
}

.centered-text {
  display: inline-block;
  text-align: left;
  width: 50%;
}

.right-aligned-text {
  display: inline-block;
  text-align: right;
  width: 50%;
}

html,
body {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0;
  margin: 0;
  font-family: var(--custom-font-family);
}

* {
  font-family: var(--custom-font-family);
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Grid */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.row {
  position: relative;
  width: 100%;
}
.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}
.col-1-sm {
  width: 4.33%;
}
.col-2-sm {
  width: 12.66%;
}
.col-3-sm {
  width: 21%;
}
.col-4-sm {
  width: 29.33%;
}
.col-5-sm {
  width: 37.66%;
}
.col-6-sm {
  width: 46%;
}
.col-7-sm {
  width: 54.33%;
}
.col-8-sm {
  width: 62.66%;
}
.col-9-sm {
  width: 71%;
}
.col-10-sm {
  width: 79.33%;
}
.col-11-sm {
  width: 87.66%;
}
.col-12-sm {
  width: 96%;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33%;
  }
  .col-2 {
    width: 12.66%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33%;
  }
  .col-5 {
    width: 37.66%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33%;
  }

  .login-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; 
    height: 380px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    color: white;
    border: 1px solid white;
  }


  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    font-family: "Helvetica", sans-serif;
    font-weight: 600;
    line-height: 1.6;
    color: white;
  }
  
  label {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  input {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 20px;
    color: black
  }
  
  button {
    font-size: 1.2em;
    padding: 10px;
    background-color: #A4804A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

}