@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --shadow-color: #fdb6b6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-red-with-border {
  color: red; /* Red text color */

  text-shadow: -1px -1px 0 var(--shadow-color), 1px -1px 0 var(--shadow-color), -1px 1px 0 var(--shadow-color), 1px 1px 0 var(--shadow-color); /* White border */
}

.rounded-box-left {
  background-color: #ffffff; /* Background color for the rounded box */
  border-radius: 10px; /* Add rounded corners */
  padding: 3px; /* Adjust padding as needed */
  margin: 10px; /* Adjust margin as needed */
  text-align: center;
  position: absolute;
  top: 475px; /* Position at the top of the container */
  left: 50%; /* Position in the center horizontally */
  transform: translateX(-105%); /* Center the box horizontally */
  max-height: 40vh;
}

.rounded-box-right {
  background-color: #ffffff; /* Background color for the rounded box */
  border-radius: 10px; /* Add rounded corners */
  padding: 3px; /* Adjust padding as needed */
  margin: 10px; /* Adjust margin as needed */
  text-align: center;
  position: absolute;
  top: 475px; /* Position at the top of the container */
  left: 50%; /* Position in the center horizontally */
  transform: translateX(0%); /* Center the box horizontally */
  max-height: 40vh;
}

.text-box {
  /* Add styles for the text box content here */
  padding: 5px;
  border: 1px solid #ccc; /* Add a border if desired */
  background-color: rgb(236, 17, 17); /* Background color for the text box */
  border-radius: 1px; /* Add rounded corners to the text box */
  border-radius: 5px;
  max-width: 610px;
}



